html, body {
  height: 100%;
  min-height: 100%;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

    /* overflow: hidden; */
    background-image: linear-gradient(0deg, rgba(102,182,252,.5) 0%, rgba(178,225,255,.5) 100%);
    background-size: cover;      
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
  .form-control:focus {
    border-color: rgba(102,182,252,1);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102,182,252,1));
  }
  #admin-section {
    padding: 20px;
    max-width: 800px;
    margin: auto;
  }
  #game-section {
    max-width: 100%;
    margin: auto;
    max-width: 100vw; /* Prevents any unexpected horizontal overflow */
    overflow-x: hidden; /* Hides any minor horizontal overflows */
  }
  #selectItem{
    display: none;
  }
  #chosenItems{
    display: none;
  }
  /* #flashcard-container {
    position: relative;
    width: 100%;
    height: 70vh;
   
    margin: 15vh auto 0 auto;
    overflow: visible;
    /* margin-bottom: 20px; Add spacing below the flashcard container
  } */
  #flashcard-container {
    position: relative;
    width: 100%;
    height: 70vh;
    margin: 15vh auto 0 auto;
    overflow: hidden; /* Prevent overflow beyond the container */
  }
  #text-list .list-group-item{
    display: flex;
    justify-content: flex-start; 
    font-size: 24px;
  }
#target-list{
  margin-bottom: 40px;
}
  #text-list .list-group-item span{
    width: 100px;
  }
  .flashcard {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    font-weight: bold;
    margin: 0;
    border-radius: 12px;
    background-color: #f8f9fa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.25s ease-out, background-color 0.25s ease-out, opacity 0.25s ease-out;
    z-index: 0;
    opacity: 0; /* Non-active cards are hidden */
  }
  
  .flashcard.active {
    z-index: 10;
    opacity: 1; /* Active card is visible */
    /* transition: opacity 0.2s ease-in; */
  }
  
  
  .flashcard.card {
    background-color: #fff;
    border: 1px solid #ddd; /* Maintain consistent card border */
  }

  #game-over {
  margin-top: 20px; /* Add spacing above the game-over section */
  text-align: center;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#start-game{
  display: block;
  margin-top: 10px;
}

.select-items {
  margin-top: 40px;
}